:root {
    --dark-text-color: #111111;
    --light-text-color: #eeeeee;
}

:root[theme="dark"] {
    --primary-background-color: #1a1a1a;
    --secondary-background-color: #222222;
    --seperator-color: #333333;
    --text-color: var(--light-text-color);
    --inverted-text-color: var(--dark-text-color);
}
:root[theme="light"] {
    --primary-background-color: #f1f1f1;
    --secondary-background-color: #e6e6e6;
    --seperator-color: #cfcfcf;
    --text-color: var(--dark-text-color);
    --inverted-text-color: var(--light-text-color);
}